@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;700&display=swap');
/* Basic Style App */

*{
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  body {
    min-width: 320px;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Anek Tamil', sans-serif;
    line-height: 1.6em;
    position: relative;
  }